bot:
  token: ${BOT_TOKEN}
  welcome-message: "Привет <username>! Подключайся к <a href=\"https://t.me/MintDatingBot/Mint\">Mint</a> и найди что-то новое <a>&#128140;</a>"

spring:
  config.import: optional:file:.env[.properties]

logging:
  level:
    root: DEBUG
    okhttp3.*: ERROR
    org.apache.*: ERROR
    javax.*: ERROR
    sun.rmi.*: ERROR